@import "mixin";
@import "var";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-image: url("../images/hero_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  // background-color: rgba(57, 47, 47, 0.352);
  position: relative;
}
nav {
  // background-color: #cfc;
  width: 100%;
  @include flex(space-around, row);
  padding: 2.5rem;
  position: fixed;
  z-index: 100;
}
// header {
//   position: sticky;
//   top: 0rem;
//   z-index: 1;
// }
.logo {
  color: $white;
  font-size: 2.12rem;
  font-weight: 800;
}

.links {
  width: 25%;
  @include flex(space-between, row);
  li {
    list-style: none;
  }
}
.link {
  color: $white;
  font-size: 1.76rem;
  text-decoration: none;
  font-weight: $font-light;
  padding: 1rem 0;
}
.active {
  border-bottom: 0.25rem solid $white;
}
.btn-contact {
  @include btn(1.4rem, 2rem);
}

.hero {
  width: 100%;
  height: 100vh;
  // padding: 0 3rem;
}
.con {
  width: 100%;
  height: 100%;
  @include flex(center, row, center, 10rem);
  div {
    align-items: flex-start;
    z-index: 1;
  }
}

.con::before {
  content: "";
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: $bg-layer;
  opacity: 0.8;
}
.contactForm {
  width: 100%;
  padding: 40px;
  background: #fff;
  border-radius: 7px;
  h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  button {
    @include btn(1.2rem, 2rem);
    border: none;
  }
}
.heroRight {
  width: 30%;
}

.inputbox {
  margin-bottom: 2rem;
}

.inputbox input {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 2.3rem 1.8rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.heroLeft {
  width: 35%;
  h1 {
    font-size: 4rem;
    color: $white;
    margin-bottom: 3rem;
  }
  p {
    color: #cfc;
    font-size: 1.75rem;
    margin-bottom: 6rem;
  }
  a {
    @include btn(2rem, 4rem, 2.5rem);
  }
}
.test {
  width: 100%;
  height: 50vh;
  background-color: #fff;
}
